@model Product

<form asp-controller="Product" asp-action="CreateProduct" method="post" class="form">

    <div>
        <input asp-for="ProductName" class="form-control" placeholder="Urun ismi giriniz" />
    </div>

    <div>
        <input asp-for="UnitPrice" class="form-control" placeholder="Urun fiyatı giriniz" />
    </div>

    <div>
        
        <select>
          
        </select>


    </div>


</form>